version: "2"
services:
  web:
    build: .
    ports:
      - 80:80
    volumes:
      - .:/usr/src/app
    links:
      - redis
    depends_on:
      - redis
  worker:
    build: .
    command: rq worker --url $REDIS_PORT
    volumes:
      - .:/usr/src/app
    links:
      - redis
    depends_on:
      - redis
  redis:
    image: redis
